body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    font-size: 2rem;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
#hero {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-text h2 {
    font-size: 3rem;
}

.intro-text span {
    color:black;
}

.about{
    font-style: italic;
    margin-left: 100px;
    margin-right: 100px;
}

.contact{
    font-style: italic;
    margin-left: 100px;
    margin-right: 100px;
}

.project{
    font-style: italic;
    margin-left: 100px;
    margin-right: 100px;
}

